* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

header,
footer {
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 10px 0;
}

/* modifying this section to fill 100% of the viewport allows justify-content flex property to work properly */
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: opacity 1s;
}

button {
  z-index: 999;
}