* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

header,
footer {
  background-color: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 10px 0;
}

/* modifying this section to fill 100% of the viewport allows justify-content flex property to work properly */
.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.button1 {
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  border-radius: 0.12em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
